@import 'stylesheets/includes';

.section {
  z-index: 1;
  padding: spacing(xxxxl) 0 spacing(xxxl);
  background-color: $color-dark;
  background-image: url('images/disruption.jpg');
  background-position: center 20%;
  background-size: cover;
}

.row {
  @include grid-row;
}

.col {
  @include grid-col(6);
}

.accent-text {
  margin-bottom: spacing(xl);
  color: $color-light;
  letter-spacing: 7px;
}

.giant-text {
  margin-bottom: spacing(xl);
}
