@import 'stylesheets/includes';

$bleed: 100px;

.section {
  padding: spacing(xxxl) 0;
  background-color: $color-light;
}

.birds {
  position: absolute;
  top: 60px;
  left: 50%;
  width: 400px;
  height: 264px;
  background-image: url('images/birds.png');
  transform: translateX(60%);
}

.image {
  position: absolute;
  z-index: 1;
  top: -$bleed;
  left: 0;
  width: 100%;
  height: calc(100% + $bleed);
  background-image: url('images/maps.png');
  background-position: right top;
  background-repeat: no-repeat;
}

.row {
  @include grid-row;
}

.col {
  @include grid-col(6);
}

.text {
  position: relative;
  z-index: 1;
}

.line {
  border-top: 0.25px solid rgba(#000, 0.2);
  margin-bottom: spacing(xxl);
}

.giant-outline {
  position: absolute;
  left: 50%;
  transform: translateX(-800px);
}

.giant-text {
  margin-bottom: spacing(xl);
}

.title {
  margin-bottom: spacing(xl);
}

.body {
  max-width: 420px;
  margin-bottom: spacing(xl);
}
