@import 'stylesheets/includes.scss';

.section {
  padding: spacing(xxxxl) 0 spacing(xxxl);
  background-color: $color-light;
  z-index: 1;
  overflow: hidden;
}

.row {
  @include grid-row();
}

.col {
  @include grid-col(4);
  z-index: 1;
}

.giant-text {
  position: absolute;
  top: -26%;
  z-index: 10;
}

.giant-outline {
  position: absolute;
  left: 50%;
  transform: translateX(-800px);
}
