@import '../../stylesheets/includes.scss';

.agents {
  padding: spacing(xxxl) 0;
  background-color: $color-accent;
  background-image: url('../../images/agents-background.jpg');
  background-size: cover;
  background-position: top center;
  overflow: visible;
  z-index: 1;
}

.row {
  @include grid-row();
}

.col {
  @include grid-col(6);
}

.title {
  margin: spacing(lg) 0 spacing(md);
  color: $text-light;
}

.body {
  margin-bottom: spacing(lg);
  color: $text-light;
  max-width: 420px;
}
