@import '../../../../stylesheets/includes.scss';

.section {
  background-color: $color-light;
  height: 600px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
