@charset "utf-8";

@import 'base/reset';
@import 'base/variables';
@import 'base/breakpoints';
@import 'base/grid';
@import 'base/mixins';
@import 'base/document';
@import 'base/typography';
@import 'base/spacing';

.page {
  border: 4px solid red;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  position: relative;
  background-color: $color-light;
}
