*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

header,
section,
footer {
  position: relative;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  @include container();
}

.section {
  width: 100%;
  position: relative;
}
