// Standard Colors
$color-primary: #ff00ff;
$color-accent: #ff4656;
$color-light: #ece8e1;
$color-dark: #0f1923;

// Text Colors
$text-default: $color-dark;
$text-light: $color-light;

// Typography
$font-family-default: 'Rubik', sans-serif;
$font-family-heading: 'Tungsten Bold', sans-serif;
$font-size-min: 14px;
$font-size-default: 16px;

// Grid
$grid-column-count: 12;
$grid-baseline: 16px;

// Gutters
$gutter: 60px;
$container-gutter-mobile: 20px;
$container-gutter-tablet: 50px;
$container-gutter-desktop: 30px;

// Page
$page-width: 1140px;
$page-limit: $page-width + ($container-gutter-desktop * 2);
