@import '../../../stylesheets/includes.scss';

.giant-text {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.text {
  @include responsive-font(60px, 140px);
  color: $color-dark;
  font-family: $font-family-heading;
  line-height: 0.85;
  margin: 0;
  transition: all 0.2s ease-out 0.1s;
  transform: translateY(100%);
  text-transform: uppercase;
}

.text-small {
  @include responsive-font(60px, 120px);
}

.text-light {
  color: $color-light;
}

.text-accent {
  color: $color-accent;
}

.text-animate-in {
  transform: translateY(0);
}
