@import 'stylesheets/includes.scss';

.line {
  position: absolute;
  left: 50%;
  transform: translateX(-600px);
  top: 0;
  width: 1px;
  height: 100%;
  background-color: rgba($color-light, 0.3);
  z-index: 1;
}

.line-dark {
  background-color: rgba($color-dark, 0.3);
}
