@import 'stylesheets/includes';

.giant-outline {
  @include responsive-font(72px, 360px);

  z-index: 0;
  color: $color-light;
  font-family: $font-family-default;
  font-weight: 600;
  line-height: 0.8;
  text-shadow: 0 0 2px rgba(#000, 0.2);
  text-transform: uppercase;
}
